
.backdrop{
    width:100%;
    height:100%;
    background-color:transparent;
    display:none;
    position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
#Loading{
position: fixed;
width: 70px;
height: 70px;
top: 66px;
left: 48%;
display:none;.btn-back
z-index:1;
}
.Loading{
position:absolute;
background-color:#1EB4FA;
width:16px;
height:16px;
-moz-border-radius:11px;
-moz-animation-name:bounce_Loading;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:11px;
-webkit-animation-name:bounce_Loading;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:11px;
-ms-animation-name:bounce_Loading;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:11px;
-o-animation-name:bounce_Loading;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:11px;
animation-name:bounce_Loading;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#Loading_1{
left:0;
top:28px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#Loading_2{
left:7px;
top:7px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#Loading_3{
top:0;
left:28px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#Loading_4{
right:7px;
top:7px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#Loading_5{
right:0;
top:28px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#Loading_6{
right:7px;
bottom:7px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#Loading_7{
left:28px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#Loading_8{
left:7px;
bottom:7px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_Loading{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_Loading{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_Loading{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_Loading{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_Loading{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

.color-blue{
    color:#0082dd;
}
.color-red{
    color:#ea5449;
}
body{
    color:#666666;
    font-family:'Open Sans',Helvetica, Arial,  sans-serif;
	background:#ecf0f1;
}
a,.user-login{
    color:#0082dd;
    text-decoration:none;
}
.container{
    width:1152px;
	padding-bottom:30px;
    margin:auto;
    font-size:14px;
	background:#fff;
	background: #fff;
	border-radius: 3px;
-moz-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
-webkit-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
-moz-transform: translateY(-6px);
-ms-transform: translateY(-6px);
}
.col-4{
    width:354px;
    float:left;
    padding:15px;
}
.mt-20{
    margin-top:20px;
    display:block;
}
h1{
    text-align: center;
text-transform: uppercase;
position:relative;
color: #2c3e50;
font-size: 38px;
margin-top: 30px;
 font-style: normal;
  font-weight: 600;
      font-family:'Open Sans',Helvetica, Arial,  sans-serif;
      max-width: 1152px;
margin: auto;
}
h2,h3{
color:#2c3e50;
font-size:18px;
font-weight:normal;
text-transform:uppercase;
}
h3{
    font-size:15px;color:#2c3e50;
}
.social-login{
    vertical-align:middle;
    margin-top:18px;
    
}
.line{
    border-bottom:1px solid #0082dd;
    padding-bottom:17px;
   width: 320px;
}

.social-login a.facebook-ico{
    background-position:left;
}
.social-login a.twitter-ico{
    background-position:-57px 0;

}
.social-login a.google-ico{
     background-position:-114px 0;
}
.social-login a.yahoo-ico{
     background-position:right;
}
.form-info{
    margin-top:20px;
}
.form-group{
    position:relative;
     margin-top:15px;
}

.form-group  p{
    color:#3498DB;
	margin-bottom:0;
	display:none;
	-webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
	}

.form-group input,.form-group select,.form-group textarea{
    width:320px;
    border-radius:5px;
    border:1px solid #cccccc;
    height:37px;
	padding-left:5px;
	outline:0;

}
.listerror{
    width:320px;
}
.new_order input,.new_order select
{
text-indent:20px;
}


.form-group label.error{
display:none !important;
}
.form-group textarea {
    height:70px;
}

.label-radio{
font-weight:bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 28px;
height: 18px;
display: inline-block;
line-height: 20px;
background-repeat: no-repeat;
background-position: 0 4px;
font-size: 14px;
vertical-align: middle;
cursor: pointer;
}
input[type=radio]:checked + .label-radio{
background-position: 0 -13px;

}
.lb-method{
display:block;width:100%;
line-height:35px;
text-align:left;
}
.desc {
   padding-left:30px;
   display:none;
   white-space: pre-line;
}
.box-cart{
    border-radius:5px;
    border:1px solid #eee;
    padding:10px;
}
.box-cart h2{
    margin:0;
    display:inline;
    vertical-align:middle;
}
.cart-items{
    margin-top:10px;
}
.cart-items,.total-price,.promotion-name{
    border-top:1px solid #eee;
     border-bottom:1px solid #eee;
     padding-bottom:10px;
     padding-top:10px;
}
.promotion-name{
  border-top:0;
}
.cart-item{
    border-top:1px dashed #eee;
    padding:10px 0;
	text-align:left;
}
.cart-item:first-child{
    border-top:0;
}
.cart-item .price,.total-price label,.shiping-price label,.total-checkout span,.promotion-name label{
    float:right;
}
.variant-title {
margin-top:4px;margin-bottom:0px;
padding-left:20px;
}
.total-price,.promotion_saving{
    border-top:0;
    font-weight:bold;
}
.shiping-price{
     padding-bottom:10px;
     padding-top:10px;
}
.btn-coupon {
  display: block;
  margin-bottom: 0;
  padding-top: 11px;
  padding: 5px 10px 0 0;
  color: #0685DE;
  text-align: left;
  border-radius: 3px;
 }

.btn-coupon span {
  height: 29px;
  display: inline-block;
  vertical-align: middle;
   
}

.btn-arrow
{
   
    background-position: 44% 46%;
    -webkit-transition: all 0.1s ease;                  
    -moz-transition: all 0.1s ease;                 
    -o-transition: all 0.1s ease;   
    -ms-transition: all 0.1s ease;          
    transition: all 0.1s ease;
    border: 1px solid #eee;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 10px 0;
}

.btn-coupon:hover{
    color: #ef8742;
  
    background-position: 45% 46%;
    display:block;
    -webkit-transition: all 0.1s ease;                  
    -moz-transition: all 0.1s ease;                 
    -o-transition: all 0.1s ease;   
    -ms-transition: all 0.1s ease;          
    transition: all 0.1s ease;
}

.total-checkout{
    background: #f0f0f0;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-weight: 600;
}
.btn-checkout ,.btn-submit-coupon,.continue-coupon,.cancel-coupon{position: relative;
display: inline-block;
height: 45px;
line-height: 45px;
width: 354px;
text-transform: uppercase;
text-align: center;
margin: 20px 0;
border-radius: 3px;
font-family: sans-serif;
font-size: 22px;
/* line-height: 1.2em; */
font-weight: 400;
letter-spacing: 1px;
text-decoration: none;
background: #3498db;
color: white;
cursor:pointer;
border:0;
outline:0;
white-space:nowrap;
}
.btn-checkout:hover,.btn-submit-coupon:hover,.continue-coupon:hover{
background-color: #3498db;
color: #fff;
opacity: 0.8;
}
.error{
    border:1px dashed #f88d81 !important;
    color:#F06455 !important;
	display: block;
    padding:5px 7px;
}
.coupon-error{
margin-top: 10px;
padding:5px;
}
.error.summary{
margin-top: 10px;
padding:10px;
width:300px;
display:none}
[aria-invalid="true"]{
border: 1px dashed #f88d81 !important;
}
input.error,select.error{
color:#000 !important;
}

.ctrl-city label{
background:#fff;
width:50%;
}
.clearfix:after{
clear:both;
display:table;
content:'';
}
.h-shipping{
display:none;
}
.drop_shipping{
display:none;
}
.col-12{
width:100%;
}
.checkout-complete{
text-align: center;
}
.use-coupon{
display:none;
}

.couponcode{
width:auto}
.use-coupon .form-group{
display: table;
width: 100%;}
.use-coupon .form-group input{
display:table-cell;
width: 100%;
}
.use-coupon .form-group:after{
clear:both;
}
.btn-submit-coupon,.continue-coupon,.cancel-coupon {
width: auto;
height: 32px;
float:right;
 font-size:13px;
padding: 0 7px;
line-height: 36px;
}
.cancel-coupon{
    background:#ced7dc;
    color:#666666;
    margin-right:10px;
}

.coupon{
display: none;
height: 35px;
line-height: 35px;
background: #F0F0F0;
margin-bottom: 11px;
text-align: center;
color: #4AB4F0;
font-weight: bold;}
.coupon:after{
clear:both;
}
.remove-coupon{
background: #F06455;
display: inline-block;
padding: 0 10px;
color: #fff;
cursor: pointer;
float: left;
}
.coupon label{
float:right;
padding-right:10px;
}
.step3{
background:#ecf0f1;
}
.step3 h1{
width:660px;
font-size: 33px;
}
.checkout-complete .box-complete{
width:660px;
background:#fff;
-moz-box-shadow:#ced7dc 0 4px, #eee 0 0px 5px;
-webkit-box-shadow:#ced7dc 0 4px, #eee 0 0px 5px;
box-shadow:#ced7dc 0 4px, #eee 0 0px 5px;
-moz-transform: translateY(-6px);
-ms-transform: translateY(-6px);
border-radius: 3px;
padding:35px;
margin: auto;
text-align:left;
margin-top:20px;
}
.box-complete .image_thumb{
width:50px;
height:auto;
vertical-align: top;
display: inline-block;
}
.box-complete .cart-item{
padding-left:20px;
border-top: 0;
}
.linkshopname{
color:#F06455;
font-size:15px;
}
.box-complete .cart-items{
border:0px;
margin-top:0px;
}
.box-complete .payment_methol{
padding:20px;
border-top:1px dashed #7d8087;
border-bottom:1px dashed #7d8087;
}
.box-complete .payment_methol span{
float:right;
}
.box-complete .payment_methol p:after{
clear:both;
}
.totalpayment {
color: #F06455;
font-size: 15px;
}
input[readonly]{
background:#FCFCFC;
}
.customSelect {
    font-size: inherit;
    margin: 0;
    padding: 0.5em;
    background-color: transparent;
    color: #393939;
    opacity:1;
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0px;
    border:1px solid #B1B2B3;
    padding-right: 2.5em;
}
.custom-dropdown {
    display:inline-block;
    position: relative;
    vertical-align: middle;
}

.custom-dropdown:before, .custom-dropdown:after {
    content: "";
    pointer-events: none;
    position: absolute;
}
.custom-dropdown select{
    -webkit-appearance: none;
}	
.custom-dropdown:after {
   content: "▼";
font-size: 11px;
line-height: 1;
margin-top: -0.5em;
right: 8px;
top: 50%;
color: #FFFFFF;
}

.custom-dropdown:before{
    bottom: 1px;
right:1px;
border-radius: 0px 4px 4px 0px;
top:1px;
width: 2em;
background-color: #BDC3C7;
}
.continue-coupon,.cancel-coupon{
    display:none;
}
.btn-back{
color: #0082dd;
/*position:absolute;*/
left:0;
padding-left:20px;
font-size: 14px;
text-transform: capitalize;
background: url(../images/back-checkout.png) no-repeat center left;
}
@media only screen and (min-width:1201px) {
    .btn-checkout-first{
        display:none;
    }
}
@media only screen and (max-width:1200px) {
    .box-btn-checkout-first{
        padding:15px;
    }
.container,h1{
    width:740px;
}
.box-cart{
    margin-bottom: 20px;
}
.col-4{
    width:45%;
}
.container form div.col-4:last-of-type {
   min-width:700px;
}
.box-btn-checkout{
    text-align:center;
}


.btn-checkout ,.btn-submit-coupon{
width:100%;
padding-left:0;
padding-right:0;
float:none;
}/*
.btn-checkout{
position: fixed;
bottom: 20px;
margin:auto;
}*/

}
@media only screen 
and (max-width :768px) {
    .box-btn-checkout-first {
padding: 0;
}
    h1,.step3 h1{
        font-size:25px;
    }

    .custom-dropdown {
        display:block;
    }
   .btn-back{
       display:none;
   }
.container,h1{
    width:96%;
	padding:2%;
}
.form-group input, .form-group select, .form-group textarea{
    width:100%;

}
.error.summary,.listerror{
    width:inherit;
    display:block;
}
.col-4,.container form div.col-4:last-of-type{
    width:100%;
	min-width:100%;
	padding:0;
}
.line{
   
   width: 100%;
}
.box-btn-checkout{
    text-align:center;
}
.checkout-complete .box-complete,.step3 h1{
width:auto;
}
.box-complete .payment_methol{
    padding-left:10px;
}
.box-complete .cart-item{
padding-left:10px;
}
.box-cart{
    margin-top:30px;
    margin-bottom: 65px;
}
}

.header {
margin-bottom:20px;
padding:10px;
background-color:#ecf0f1;
}
.css_tbCart tr {
    height:32px;

}
.btn_dathang {
    width: 100%;
    height: 43px;
    background-color: #3498db;
    color: white;

}
.Red {
color:red;
}