
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="cartController">
    <div class="check">
        <div class="col-md-3 cart-total">
            <a class="continue" href="/">Continue to basket</a>
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1">${{totalPrice}}</span>
                <span>Discount</span>
                <span class="total1">---</span>
                <span>Delivery Charges</span>
                <span class="total1">---</span>
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"> <h4>TOTAL</h4></li>
                <li class="last_price"><span>${{totalPrice}}</span></li>
                <div class="clearfix"> </div>
            </ul>


            <div class="clearfix"></div>
            <a class="continue" href="~/Checkout/Detail">Checkout</a>
        </div>
        <div class="col-md-9 cart-items">
            <h1>My Shopping Bag ({{numcart}})</h1>
            @*<script>
$(document).ready(function(c) {
    $('.close1').on('click', function(c){
        $('.cart-header').fadeOut('slow', function(c){
            $('.cart-header').remove();
        });
    });
});
            </script>*@
            <div class="cart-header" id="cart_{{cart.ProductID}}" ng-repeat="cart in Carts">

                <a class="cart_quantity_delete" href="javascript:void(0)" ng-click="removeCartItem(cart.ProductID)"><div class="close1"></div></a>
                <div class="cart-sec simpleCart_shelfItem">
                    <div class="cart-item cyc">
                        <img src="{{cart.Image}}" class="img-responsive" alt="" />
                    </div>
                    <div class="cart-item-info">
                        <h3><a href="#">{{cart.Name}}</a></h3>
                        <ul class="qty">
                            <li><p>Price : ${{cart.Price}}</p></li>

                            <li><input class="cart_quantity_input" type="number" ng-model="cart.Quantity" name="quantity" ng-change="changeCartQuantity(cart.ProductID, cart.Quantity)" autocomplete="on" min="1" max="10" size="1"></li>
                   
                        </ul>

                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>


        <div class="clearfix"> </div>
    </div>
</div>


<script>

    app.controller('cartController', function ($scope, $http,  $window) {
        console.log($window.sessionStorage.length);
        $scope.Carts = [];
        $scope.numcart = 0;
        $scope.totalPrice = 0;
        $scope.value = 1;
        if ($window.sessionStorage.length > 0) {
        
            for (var i = 0, len = sessionStorage.length; i < len; i++) {
                var temp = $window.sessionStorage.getItem(sessionStorage.key(i));
                var item = JSON.parse(temp);
                //var temp = $window.sessionStorage.getItem(i);

                //var item2 = item;
                //item2.Quantity = $scope.value;
                //var temp2 = $window.sessionStorage.setItem(sessionStorage.key(i), JSON.stringify(item2));

                $scope.Carts.push(item);
                $scope.numcart += item.Quantity;
                $scope.totalPrice += (item.Price*item.Quantity);
            }
        }

        $scope.removeCartItem = function (productID) {
            $window.sessionStorage.removeItem(productID);
            console.log($window.sessionStorage.length);
            $scope.Carts = [];
            $scope.numcart = 0;
            $scope.totalPrice = 0;
            if ($window.sessionStorage.length > 0) {
                
                
                for (var i = 0, len = sessionStorage.length; i < len; i++) {
                    var temp = $window.sessionStorage.getItem(sessionStorage.key(i));
                    //var temp = $window.sessionStorage.getItem(i);
                    var item = JSON.parse(temp);
                    $scope.Carts.push(item);
                    $scope.numcart += item.Quantity;
                    $scope.totalPrice += item.Price;
                }
            }
        };
        $scope.changeCartQuantity = function (productID, value) {

            var temp = $window.sessionStorage.getItem(productID);
            var item = JSON.parse(temp);
            item.Quantity = value;
            //var item2 = item;
            //item2.Quantity = $scope.value;
            var item2 = $window.sessionStorage.setItem(productID, JSON.stringify(item));

            //$window.sessionStorage.setItem(productID);
            console.log('-----Number-----');
            console.log(item);
            $scope.Carts = [];
            $scope.numcart = 0;
            $scope.totalPrice = 0;
            if ($window.sessionStorage.length > 0) {


                for (var i = 0, len = sessionStorage.length; i < len; i++) {
                    var temp = $window.sessionStorage.getItem(sessionStorage.key(i));
                    //var temp = $window.sessionStorage.getItem(i);
                    var item = JSON.parse(temp);
                    $scope.Carts.push(item);
                    $scope.numcart += item.Quantity;
                    $scope.totalPrice += (item.Price * item.Quantity);
                }
            }
        };


        
    });
</script>